<div class="welcome">
  <h2>Send Email</h2>

  <form ng-if="!$ctrl.submitted" method="post" name="send_email_form">
    <p>
      <i>Multiple recipients separated by comma.</i>
    </p>

    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input type="text" class="form-control" id="inputEmail" placeholder="Email" multiple-emails required ng-model="$ctrl.email" name="email">
      <span class="help-inline error-msg" ng-if="send_email_form.email.$invalid">Email Address is invalid</span>
    </div>

    <div class="form-group">
      <label for="inputEmailCc">CC</label>
      <input type="text" class="form-control" id="inputEmailCc" placeholder="Email CC" multiple-emails ng-model="$ctrl.emailCc" name="email-cc">
      <span class="help-inline error-msg" ng-if="send_email_form['email-cc'].$invalid">CC Address is invalid</span>
    </div>

    <div class="form-group">
      <label for="inputEmailBcc">BCC</label>
      <input type="text" class="form-control" id="inputEmailBcc" placeholder="Email BCC" multiple-emails ng-model="$ctrl.emailBcc" name="email-bcc">
      <span class="help-inline error-msg" ng-if="send_email_form['email-bcc'].$invalid">BCC Address is invalid</span>
    </div>

    <div class="form-group">
      <label for="inputEmailSubject">Subject</label>
      <input type="text" class="form-control" id="inputEmailSubject" placeholder="Subject" required ng-model="$ctrl.emailSubject" name="email-subject">
      <span class="help-inline error-msg" ng-if="send_email_form['email-subject'].$invalid">Subject is required</span>
    </div>

    <div class="form-group">
      <textarea class="form-control" id="inputEmailBody" rows="3" placeholder="Add a message" ng-model="$ctrl.emailBody" name="email-body"></textarea>
    </div>

    <button class="btn btn-default" type="submit" ng-click="$ctrl.handleSubmit($event)">Send</button>
  </form>

  <div ng-if="$ctrl.submitted">
    {{::$ctrl.sentResponseText}}
  </div>
</div>